@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.featured-gradient {
  background: linear-gradient(180deg, #08030A 23.08%, #492974 73.08%);
}

.founder-gradient {
  background: linear-gradient(122.56deg, #492974 6.38%, #000000 54.79%);
}

.revolution-gradient {
  background: linear-gradient(122.56deg, #492974 6.38%, #000000 54.79%);
}

.patner-gradient {
  background: linear-gradient(280.58deg, #492974 -58.12%, #000000 92.13%);
}

.news-gradient {
  background: linear-gradient(280.58deg, #492974 -58.12%, #000000 92.13%);
}

.testi-gradient {
  background: linear-gradient(180deg, rgba(73, 41, 116, 0.73) 0%, rgba(0, 0, 0, 0.73) 86.54%);
}

.property-search-gradient {
  background: conic-gradient(from 180deg at 50% 50%, #3F2464 0deg, #020002 292.5deg, #3F2464 360deg);
}
.input-search-shadow{
  box-shadow: 0px 4px 4px 0px #060606;
}

@font-face {
  font-family: 'Lufga';
  src: url('/assets/fonts/Fontspring-DEMO-lufga-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lufga;
}
